

<nav>
    <div class="navbar-wrapper">
        <div class="navbar-side">
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">about</a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">service</a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Project</a>
            </div>
        </div>
        <div class="navbar-icon">
            <h1>
                SOLAR
            </h1>
        </div>
        <div class="navbar-side">
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Team</a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">FAQS</a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">testeminial</a>
            </div>
            <div class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">contact</a>
            </div>
        </div>
    </div>
</nav>
<section id="about">
    <div class="about-image">
        <img src="./assets/images/about.jpg" alt="">
    </div>
    <div class="about-wrapper">
        <div class="title">
            <h6>ABOUT US</h6>
        </div>
        <div class="header">
            <h1>25+ Years Experience In Solar Power Industry</h1>
        </div>
        <div>
            <p>
                At sed est eirmod sanctus et amet diam magna. Dolore clita magna sed sed stet et, at magna rebum
                eirmod sanctus ut sed, stet tempor dolore rebum sit duo, dolore tempor sit est sit sanctus, sit
                justo sit invidunt clita ut justo diam magna. Erat eos nonumy labore dolor. Dolore kasd no et et
                et
                elitr. Erat sea dolor elitr diam sed lorem rebum et vero.
            </p>
        </div>
        <div>
            <button type="button" class="btn btn-primary">Read More</button>
        </div>
    </div>
</section>
<section id="services">
    <div class="service-wrapper">
        <div class="header">
            <h6>SERVICES</h6>
        </div>
        <div class="title">
            <h3>What We Cover</h3>
        </div>
        <div class="images">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/product-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Solar System</h4>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/product-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Solar System</h4>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/product-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4>Solar System</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="bg-img">
        <img src="./assets/images/projects/gallery.jpg" alt="">
    </div>
    <div class="content">
        <div class="header">
            <h6>PROJECT</h6>
        </div>
        <div class="title">
            <h3>Project Photo Gallery</h3>
        </div>
        <div class="move">
            <a href="">
                <span>
                    <
                </span>
            </a>
            <a href=""><span> > </span></a>
        </div>
    </div>

    <div class="images">
        <div class="image">
            <img src="./assets/images/projects/gallery-1.jpg" alt="">
        </div>
        <div class="image">
            <img src="./assets/images/projects/gallery-2.jpg" alt="">
        </div>
        <div class="image">
            <img src="./assets/images/projects/gallery-3.jpg" alt="">
        </div>
        <!-- <div class="image">
            <img src="./assets/images/projects/gallery-4.jpg" alt="">
        </div>
        <div class="image">
            <img src="./assets/images/projects/gallery-5.jpg" alt="">
        </div> -->
    </div>
</section>
<section id="team">
    <div class="team-wrapper">
        <div class="header">
            <h6>SERVICES</h6>
        </div>
        <div class="title">
            <h3>What We Cover</h3>
        </div>
        <div class="cards-wrapper">
            <div class="card mb-3 offset-2" style="max-width: 540px;">
                <div class="row g-0" style="display: flex;">
                    <div class="card-content col-md-8">
                        <div class="card-body">
                            <h6 class="card-title">Donald John</h6>
                            <p class="text-muted">CEO & Founder</p>
                            <p class="card-text text-muted">
                                Lorem elitr magna stet rebum dolores sed. Est stet
                                labore est
                                lorem lorem
                            </p>
                        </div>
                        <div class="icons">
                            <div class="icon twitter">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="icon facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="icon linkedin">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrapper col-md-4">
                        <img src="./assets/images/team/team-1.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3 offset-6" style="max-width: 540px;margin-left: 52%;">
                <div class="row g-0" style="display: flex;">
                    <div class="image-wrapper col-md-4">
                        <img src="./assets/images/team/team-2.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="card-content col-md-8">
                        <div class="card-body">
                            <h6 class="card-title">Donald John</h6>
                            <p class="text-muted">CEO & Founder</p>
                            <p class="card-text text-muted">
                                Lorem elitr magna stet rebum dolores sed. Est stet
                                labore est
                                lorem lorem
                            </p>
                        </div>
                        <div class="icons">
                            <div class="icon twitter">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="icon facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="icon linkedin">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3 offset-2" style="max-width: 540px;">
                <div class="row g-0" style="display: flex;">
                    <div class="card-content col-md-8">
                        <div class="card-body">
                            <h6 class="card-title">Donald John</h6>
                            <p class="text-muted">CEO & Founder</p>
                            <p class="card-text text-muted">
                                Lorem elitr magna stet rebum dolores sed. Est stet
                                labore est
                                lorem lorem
                            </p>
                        </div>
                        <div class="icons">
                            <div class="icon twitter">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="icon facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="icon linkedin">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                    </div>
                    <div class="image-wrapper col-md-4">
                        <img src="./assets/images/team/team-3.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
            <div class="card mb-3 offset-6" style="max-width: 540px;margin-left: 52%;">
                <div class="row g-0" style="display: flex;">
                    <div class="image-wrapper col-md-4">
                        <img src="./assets/images/team/team-4.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="card-content col-md-8">
                        <div class="card-body">
                            <h6 class="card-title">Donald John</h6>
                            <p class="text-muted">CEO & Founder</p>
                            <p class="card-text text-muted">
                                Lorem elitr magna stet rebum dolores sed. Est stet
                                labore est
                                lorem lorem
                            </p>
                        </div>
                        <div class="icons">
                            <div class="icon twitter">
                                <i class="fa-brands fa-twitter"></i>
                            </div>
                            <div class="icon facebook">
                                <i class="fa-brands fa-facebook-f"></i>
                            </div>
                            <div class="icon linkedin">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="faqs">
    <div class="faqs-wrapper">
        <div class="header">
            <h6>FAQS</h6>
        </div>
        <div class="title">
            <h3>You Should Know</h3>
        </div>
        <div class="faqs-content-wrapper">
            <div class="left-content content">
                <div>
                    <h4>Why Switch to Solar?</h4>
                </div>
                <div>
                    <p>Vero dolor amet no eos ipsum erat <span><i class="fa-solid fa-check"></i></span></p>
                    <p>
                        Lorem tempor tempor gubergren dolor dolor dolor <span>
                            <i class="fa-solid fa-check"></i>
                        </span>
                    </p>
                    <p>
                        Nonumy tempor dolores sadipscing duo
                        <span><i class="fa-solid fa-check"></i></span>
                    </p>
                    <p>
                        Kasd dolor ea dolores ut nonumy
                        <span><i class="fa-solid fa-check"></i></span>
                    </p>
                </div>
            </div>
            <div class="right-content content">
                <div>
                    <h4>Why Switch to Solar?</h4>
                </div>
                <div>
                    <p><span><i class="fa-solid fa-check"></i></span>Vero dolor amet no eos ipsum erat</p>
                    <p>
                        <span><i class="fa-solid fa-check"></i></span>Lorem tempor tempor gubergren dolor dolor
                        dolor
                    <p><span><i class="fa-solid fa-check"></i></span>Nonumy tempor dolores sadipscing duo
                    <p><span><i class="fa-solid fa-check"></i></span>Kasd dolor ea dolores ut nonumy
                </div>
            </div>
        </div>
        <div class="button">
            <button class="btn btn-primary">Get A Quote</button>
        </div>
    </div>
</section>
<section id="testimonial">
    <div class="testimonial-wrapper">
        <div class="header">
            <h6>TESTEMINIAL</h6>
        </div>
        <div class="title">
            <h3>Our Clients Say</h3>
        </div>
        <div class="move">
            <div>
                <a href="">
                    <span>
                        <
                    </span>
                </a>
            </div>
            <div><a href=""><span> > </span></a></div>
        </div>
        <div class="testimonial-card-wrapper">
            <div class="image">
                <img src="./assets/images/testimonial/testimonial-2.jpg" alt="">
            </div>
            <div class="content">
                <p>
                    Dolor eirmod diam stet kasd sed. Aliqu rebum est eos. Rebum elitr dolore et eos labore, stet
                    justo sed est sed. Diam sed sed dolor stet amet eirmod eos labore diam
                </p>
            </div>
            <div class="auther">
                <h6>Client Name</h6>
            </div>
            <div class="status">
                <p>Profession</p>
            </div>
        </div>
    </div>

</section>
<section id="contact">
    <div class="contact-wrapper">
        <div class="header">
            <h6>CONTACT</h6>
        </div>
        <div class="title">
            <h3>Get In Touch</h3>
        </div>
        <form action="">
            <div class="contact-form">
                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name" aria-label="You Name">
                    </div>
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Last name"
                               aria-label="Your Email">
                    </div>
                </div>
                <div class="mt-3 mb-3">
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Subject">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1"
                              rows="3"></textarea>
                </div>
                <div class="button">
                    <button class="btn btn-primary">Send Message</button>
                </div>
            </div>
        </form>
    </div>
</section>